{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Applicant Profile Viewer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <style>
        body {
            background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        }

        .emp-profile {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .profile-img {
            text-align: center;
        }

        .profile-img img {
            width: 280px;
            height: 200px;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

        .profile-img .file input {
            position: absolute;
            opacity: 0;
            right: 0;
            top: 0;
        }

        .profile-head h5 {
            color: #333;
        }

        .profile-head h6 {
            color: #0062cc;
        }

        .profile-edit-btn {
            border: none;
            border-radius: 1.5rem;
            width: 100%;
            padding: 2%;
            font-weight: 600;
            color: #FFF;
            cursor: pointer;
            background: #4CAF50;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }

        .proile-rating span {
            color: #495057;
            font-size: 15px;
            font-weight: 600;
        }

        .profile-head .nav-tabs {
            margin-bottom: 5%;
        }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid #0062cc;
        }

        .profile-work {
            padding: 14%;
            margin-top: -15%;
        }

        .profile-work p {
            font-size: 12px;
            color: #818182;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #495057;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

        .profile-tab label {
            font-weight: 600;
        }

        .profile-tab p {
            font-weight: 600;
            color: #0062cc;
        }
    </style>

</head>

<body>

    <div class="container emp-profile">
        <form method="post">
            {% for applicant in applicants %}

            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="
                        
                        {% if applicant.applicant.image %}
                        {{ applicant.image.url }}
                        {% else %}
                        {% static 'images\Administrator Male_48px.png' %}
                        {% endif %}
                        " alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{applicant.fname}} {{applicant.mname}} {{applicant.lname}}
                        </h5>
                        <h6>
                            {{applicant.user.email}}
                        </h6>
                        <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="family-tab" data-toggle="tab" href="#family" role="tab"
                                    aria-controls="family" aria-selected="true">Family</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="body-tab" data-toggle="tab" href="#body" role="tab"
                                    aria-controls="profile" aria-selected="false">Body</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="government-tab" data-toggle="tab" href="#government" role="tab"
                                    aria-controls="profile" aria-selected="false">Government</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="siblings-tab" data-toggle="tab" href="#siblings" role="tab"
                                    aria-controls="profile" aria-selected="false">Siblings</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="employment-history-tab" data-toggle="tab"
                                    href="#employment-history" role="tab" aria-controls="profile"
                                    aria-selected="false">Employment History</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="educational-attainment-tab" data-toggle="tab"
                                    href="#educational-attainment" role="tab" aria-controls="profile"
                                    aria-selected="false">Educational Attainment</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="trainings-tab" data-toggle="tab"
                                    href="#trainings" role="tab" aria-controls="profile"
                                    aria-selected="false">Trainings</a>
                            </li>
    
                            <li class="nav-item">
                                    <a class="nav-link" id="character-reference-tab" data-toggle="tab"
                                        href="#character-reference" role="tab" aria-controls="profile"
                                        aria-selected="false">Character References</a>
                            </li>

                            <li class="nav-item">
                                    <a class="nav-link" id="exam-tab" data-toggle="tab"
                                        href="#exam" role="tab" aria-controls="profile"
                                        aria-selected="false">Exam</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Hire Applicant" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>PERSONAL DETAILS</p>
                        <a href=""> {{ applicant.mobile_no }}</a><br />
                        <a href="">{{ applicant.telephone_no }}</a><br />
                        <a href="">{{ applicant.gender }}</a><br />
                        <a href="">{{ applicant.civil_status }}</a>

                        <p>PRESENT ADDRESS</p>
                        <a href="">{{applicant.bldg_name_0}}</a><br />
                        <a href="">{{applicant.brgy_sub_0}}</a><br />
                        <a href="">{{applicant.dis_mun_0}}</a><br />
                        <a href="">{{applicant.cit_pro_0}}</a><br />

                        <p>PERMANENT ADDRESS</p>
                        <a href="">{{applicant.bldg_name_1}}</a><br />
                        <a href="">{{applicant.brgy_sub_1}}</a><br />
                        <a href="">{{applicant.dis_mun_1}}</a><br />
                        <a href="">{{applicant.cit_pro_1}}</a><br />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="family" role="tabpanel" aria-labelledby="family-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contact Person</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.contact_person}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Relationship</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.relationship}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Mobile No.</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.contact_person_mobile_no}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Spouse Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.spouse_full_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contact No</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.spouse_contact_number}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Father Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.father_full_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Occupation</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.father_occupation}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.father_home_address}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Mother Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.mother_full_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Occupation</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.mother_occupation}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{applicant.mother_home_address}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="body" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Weight (lbs)</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.weight}} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Height (Inch)</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.height}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Shirt Size</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.shirt_size}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Shoe Size</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.shoe_size}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Waistline</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.waistline}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Length of pants</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.length_of_pants}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="government" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>SSS</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.sss}} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>CTC</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.ctc}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Philhealth</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.philhealth}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>TIN</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.tin}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Pagibig</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ applicant.pagibig}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="siblings" role="tabpanel" aria-labelledby="profile-tab">
                            {% for siblings in applicant.siblings_applicant_fk.all %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ siblings.name}} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Age</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ siblings.age }} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Occupation</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ siblings.occ}} </p>
                                </div>
                            </div>
                            <hr>
                            {% endfor %}

                        </div>
                        <div class="tab-pane fade" id="employment-history" role="tabpanel"
                            aria-labelledby="profile-tab">
                            {% for employment in applicant.employment_applicant_fk.all %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date From</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ employment.date_from}} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date To</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ employment.date_to }} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Company</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ employment.company}} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Position</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ employment.position }} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Reason for leaving</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ employment.reason_for_leaving }} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Basic salary pay</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ employment.basic_salary_pay}} </p>
                                </div>
                            </div>
                            <hr>
                            {% endfor %}

                        </div>
                        <div class="tab-pane fade" id="educational-attainment" role="tabpanel"
                            aria-labelledby="profile-tab">
                            {% for education in applicant.educational_applicant_fk.all %}
                            <div class="row">
                                    <div class="col-md-6">
                                        <label>College</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.college }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Course</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.college_course }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.college_address}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.csya_from}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>To</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.csya_to}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Vocational</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.vocational}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Course</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.vocational_course}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.vocational_address}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.vsya_from}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>To</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.vsya_to}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Highschool</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.highschool}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.highschool_address}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.hsya_from}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>To</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.hsya_to}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Elementary</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.elementary}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.elementary_address}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.esya_from}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>To</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.esya_to}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Special skills</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.special_skills}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Language speak</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ education.language_speak}}</p>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}                            
                        </div>
                        <div class="tab-pane fade" id="trainings" role="tabpanel" aria-labelledby="profile-tab">
                                {% for training in applicant.tranings_applicant_fk.all %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Title</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ training.title}} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Date Attended</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ training.date_attended }} </p>
                                    </div>
                                </div> 
                                <hr>
                                {% endfor %}
    
                        </div>
                        <div class="tab-pane fade" id="character-reference" role="tabpanel" aria-labelledby="profile-tab">
                                {% for character in applicant.character_references_applicant_fk.all %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ character.full_name}} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Occupation</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ character.occupation }} </p>
                                    </div>
                                </div> 
                                <div class="row">
                                        <div class="col-md-6">
                                            <label>Contact No</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ character.contact_no }} </p>
                                        </div>
                                    </div> 
                                <hr>
                                {% endfor %}
    
                        </div>
                        <div class="tab-pane fade" id="exam" role="tabpanel" aria-labelledby="profile-tab">
                                
    
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </form>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.min.js' %}"></script>
</body>

</html>